__pycache__

#IDE
.idea/
.vs/
.vscode/

#notebooks
.ipynb_checkpoints
ALCE_data/.ipynb_checkpoints
ALCE_data/wikipedia_embeddings
ALCE_data/from_contriever
ALCE_data/*.tsv
ALCE_data/*.tar
ALCE_data/*.json

# outputs
*.xlsx
*.csv
*.pt
*.json
*.log
*.tsv
*.pkl
*.dat
*.out
*.log
*.bat

